@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.feat {
  background: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-fluid {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.section-head {
  margin-bottom: 60px;
}

.section-head h4 {
  position: relative;
  padding: 0;
  color: #D4AFB9;
  line-height: 1;
  letter-spacing: 0.3px;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  text-transform: none;
  margin-bottom: 30px;
}

.section-head h4:before {
  content: '';
  width: 60px;
  height: 3px;
  background: #D4AFB9;
  position: absolute;
  left: 0px;
  bottom: -10px;
  right: 0;
  margin: 0 auto;
}

.section-head h4 span {
  font-weight: 700;
  padding-bottom: 5px;
  color: #2f2f2f;
}

.item {
  background: #fff;
  text-align: center;
  padding: 30px 25px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  border: 5px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 30px;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item:hover {
  background: #fca46e;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

.item .icon {
  font-size: 40px;
  margin-bottom: 25px;
  color: #D4AFB9;
  width: 90px;
  height: 90px;
  line-height: 96px;
  border-radius: 50px;
}

.item h6 {
  margin-bottom: 20px;
  color: #2f2f2f;
}

.item p {
  font-size: 15px;
  line-height: 26px;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    flex-basis: 33.33%;
    max-width: 33.33%;
  }
}


