@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.home-banner {
  /* background-image:
    url("../images//bg1.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(11, 11, 11, 0.2), rgba(0, 0, 0, 0.2)),
  url("../images/banner.png");
}

.headline {
  font-family: 'Poppins', sans-serif;
  background-color: rgba(255,255,255,0.8);
  border-bottom: 5px solid #FF6200;
  position: absolute;
  top: 35%;
  margin-left: 2rem;
  padding: 30px;
  max-width: 650px;
} 

.newCollection{
  font-size: 32px;
  font-weight: 300;
  margin: 0px;
}

.home-h2 {
  font-size: 60px;
  margin: 0px 0px;
  color: #FF6200;
}

.home-p {
  max-width: 350px;
  font-size: 16px;
  font-weight: 600;
  margin: 0px 0px;
  color: black;
}



.subHeading {
  text-align: center;
  border-bottom: 2px solid black;
  width: 300px;
  margin: 50px auto;
}

#categoryGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "bookcases bedroom patio"
    "couches couches patio"
    ;
}

#bookcases {
  grid-area: bookcases;
  background-image: url("../images/img-4.jpg");
}

#bedroom {
  grid-area: bedroom;
  background-image: url("../images/img-3.jpg");
}

#couches {
  grid-area: couches;
  background-image: url("../images/img-5.png");
}

#patio {
  grid-area: patio;
  background-image: url("../images/img-2.jpg");
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.categoryGridArea:hover {
  background-color: rgba(212, 175, 185, 0.7);
  background-blend-mode: multiply;
}


.heading {
  font-family: "Ysabeau", sans-serif;
  font-weight: 600;
  font-size: 20px;
  display: none;
}
.subHeading{
  font-size: 28px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
/* .subHeading h4:before {
  content: '';
  width: 60px;
  height: 3px;
  background: #D4AFB9;
  position: absolute;
  left: 0px;
  bottom: -10px;
  right: 0;
  margin: 0 auto;
}

.section-head h4 span {
  font-weight: 700;
  padding-bottom: 5px;
  color: #2f2f2f;
} */